#container.fluid .item {
    width: 24.3%; 
    margin: 5px 0.2% 5px 0.2%;
}
#container.fluid .item img
{
	display: block;
	width: 100%;
	height: auto !important;
	opacity: 1;
}
.image {
  float: left;
  position: relative;
}
.image-hover img {
    width: 100%;
    vertical-align: top;
}
.image-hover:after {
    content: '\A';
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0; left: 0;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image-hover:hover:after {
    opacity: 1;
}
.image-description {  
    position: absolute; 
    bottom: 0px;
    left: 0px;  
    width: 100%;  
    background-color: black;  
    font-size: 15px;  
    color: white;  
    opacity: 0.6; 
    filter:alpha(opacity=60); /* IE transparency */  
    z-index: 9998;
}  
.image-description-content {  
    padding: 10px;  
    margin: 0px;  
    z-index: 9999;
}