body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
* {
    margin: 0;
    padding: 0;
}
body{
    margin: 20px 35px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-image: linear-gradient( 135deg, #F761A1 10%, #AC46C8 100%);
    background-attachment: fixed; /*A background-image that will not scroll with the page (fixed):*/
}
hr {
    margin: 20px 0;
}
.wrapper{
    padding: auto;
}
.container {
    width: 100%;
    position: relative;
}
.container > div > img{
    width: 100%;
    height: 100%;
    position: relative;

}
.container > .item {
    top: 0;
    transition: top 0.3s;
}
.container > .item:hover{
    top: -10px;
    box-shadow: 10px 10px 10px -4px rgba(0,0,0,0.3);
}
.item {
    position: absolute;
    text-align: center;
    font-size: 2em;
    font-weight: white;
    background-color: rgba(0,0,0,0.1);
    line-height: 1.5em;
    border-radius: 5px;
/*        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient( 135deg, #F761A1 10%, #AC46C8 100%);*/
    overflow: hidden;
    cursor:pointer;
}
.item img{
    opacity: 0;
    transition: all 1.5s ease;
 /*   animation: fadeIn ease 2s;  
    animation-iteration-count: 1;
    animation-fill-mode: forwards;*/
}
.show{
    /*opacity: 1;*/
    animation: fadeIn ease-in 1s;  
    animation-fill-mode: forwards;
    /*transition: all 1.5s ease;*/
}
@keyframes flip{
   from{
    transform: rotateY(-120deg);
  }
   to{
    transform: rotateY(0deg);
  }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}